In [1]:
import pandas as pd
import numpy as np
from datetime import date

In [2]:
Train_kNN = pd.read_csv('TrainData_clean.csv')
Test_kNN = pd.read_csv('TestData_clean.csv')

In [3]:
Train_kNN.dtypes

ID                                      object
Gender                                  object
City_Code                               object
City_Category                           object
Employer_Code                           object
Employer_Category1                      object
Employer_Category2                     float64
Monthly_Income                         float64
Customer_Existing_Primary_Bank_Code     object
Primary_Bank_Type                       object
Contacted                               object
Source                                  object
Source_Category                         object
Existing_EMI                           float64
Loan_Amount                            float64
Loan_Period                            float64
Interest_Rate                          float64
EMI                                    float64
Var1                                     int64
Approved                                 int64
DOB_clean                               object
Lead_Creation_Date_clean                object
dtype: object

In [14]:
for df in Train_kNN, Test_kNN:
    for v in ('DOB_clean', 'Lead_Creation_Date_clean'):
        df[v] = pd.to_datetime(df[v])

In [15]:
Train_kNN.dtypes

ID                                             object
Gender                                         object
City_Code                                      object
City_Category                                  object
Employer_Code                                  object
Employer_Category1                             object
Employer_Category2                            float64
Monthly_Income                                float64
Customer_Existing_Primary_Bank_Code            object
Primary_Bank_Type                              object
Contacted                                      object
Source                                         object
Source_Category                                object
Existing_EMI                                  float64
Loan_Amount                                   float64
Loan_Period                                   float64
Interest_Rate                                 float64
EMI                                           float64
Var1                                            int64
Approved                                        int64
DOB_clean                              datetime64[ns]
Lead_Creation_Date_clean               datetime64[ns]
dtype: object

In [16]:
Train_kNN.describe()

,Employer_Category2,Monthly_Income,Existing_EMI,Loan_Amount,Loan_Period,Interest_Rate,EMI,Var1,Approved
count,65415.000000,6.971300e+04,69662.000000,42004.000000,42004.000000,22276.000000,22276.000000,69713.000000,69713.000000
mean,3.720187,5.622283e+03,360.928751,39429.982859,3.890629,19.213570,1101.466242,3.948446,0.014631
std,0.807374,1.747671e+05,2288.517927,30727.595990,1.167491,5.847136,752.661394,3.819214,0.120073
min,1.000000,0.000000e+00,0.000000,5000.000000,1.000000,11.990000,118.000000,0.000000,0.000000
25%,4.000000,1.650000e+03,0.000000,20000.000000,3.000000,15.250000,649.000000,0.000000,0.000000
50%,4.000000,2.500000e+03,0.000000,30000.000000,4.000000,18.000000,941.000000,2.000000,0.000000
75%,4.000000,4.000000e+03,350.000000,50000.000000,5.000000,20.000000,1295.000000,7.000000,0.000000
max,4.000000,3.838384e+07,545436.500000,300000.000000,6.000000,37.000000,13556.000000,10.000000,1.000000

In [17]:
Train_kNN.describe(include=['object'])

,ID,Gender,City_Code,City_Category,Employer_Code,Employer_Category1,Customer_Existing_Primary_Bank_Code,Primary_Bank_Type,Contacted,Source,Source_Category
count,69713,69713,68899,68899,65695,65695,60322,60322,69713,69713,69713
unique,69713,2,678,3,36617,3,57,2,2,29,7
top,APPY60329882222,Male,C10001,A,COM0000002,A,B001,P,Y,S122,B
freq,1,39949,10007,49885,457,33336,14197,39619,45275,30941,29812

In [18]:
Train_kNN.describe(include=['datetime64'])

                  DOB_clean Lead_Creation_Date_clean
count                 69698                    69713
unique                10759                       92
top     1982-01-11 00:00:00      2016-09-02 00:00:00
freq                    253                     1838
first   1930-07-24 00:00:00      2016-07-01 00:00:00
last    1999-02-24 00:00:00      2016-09-30 00:00:00

In [20]:
#Change Var1 to string so it won't treat categorical variable as numeric
for df in Train_kNN, Test_kNN:
    df.Var1 = str(df.Var1)

In [21]:
Train_kNN.dtypes

ID                                             object
Gender                                         object
City_Code                                      object
City_Category                                  object
Employer_Code                                  object
Employer_Category1                             object
Employer_Category2                            float64
Monthly_Income                                float64
Customer_Existing_Primary_Bank_Code            object
Primary_Bank_Type                              object
Contacted                                      object
Source                                         object
Source_Category                                object
Existing_EMI                                  float64
Loan_Amount                                   float64
Loan_Period                                   float64
Interest_Rate                                 float64
EMI                                           float64
Var1                                           object
Approved                                        int64
DOB_clean                              datetime64[ns]
Lead_Creation_Date_clean               datetime64[ns]
dtype: object

In [22]:
#Try kNN classifier
from sklearn.neighbors import KNeighborsClassifier

In [23]:
kNN5 = KNeighborsClassifier()

In [24]:
X = Train_kNN.drop('Approved', axis=1)
y = Train_kNN['Approved']

In [25]:
kNN5.fit(X, y)

TypeError: float() argument must be a string or a number

In [27]:
#Need to convert to ordinals?
for df in Train_kNN, Test_kNN:
    for v in ('DOB_clean', 'Lead_Creation_Date_clean'):
        df[v] = map(date.toordinal, df[v])

In [28]:
X = Train_kNN.drop('Approved', axis=1)
y = Train_kNN['Approved']

In [29]:
kNN5.fit(X, y)

ValueError: invalid literal for float(): 0         0
1        10
2         0
3         7
4        10
5         0
6        10
7         0
8         7
9         0
10        7
11        0
12        0
13       10
14        7
15        0
16

In [ ]:
#Ugh let's just use the data created for logistic regression